.title-orientacao {
  font-family: "Oranienbaum", serif;
  font-weight: bolder;
  color: #e5397f;
  font-size: 2.5rem;
}

.text-pink {
  color: #e5397f;
  font-size: smaller;
}

.btn-pink {
  background-color: white;
  padding: 3px 30px;
  border: 2px solid #e5397f;
  font-size: small;
  font-weight: bold;
  border-radius: 20px;
  color: #e5397f;
  text-decoration: none;
}

.btn-pink-small {
  background-color: white;
  padding: 1px 7px;
  border: 2px solid #e5397f;
  font-weight: bold;
  border-radius: 20px;
  color: #e5397f;
  text-decoration: none;
}

.btn-pink:hover,
.btn-pink-small:hover {
  transition: 0.3s;
  text-decoration: none;
  color: white;
  background-color: #e5397f;
}

.full {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.bg-coracao {
  background-image: url("../public/images/orientacoes-mentoras/background.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  background-color: #f8dae0;
}

.bg-tools {
  background-image: url("../public/images/school/background.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  background-color: #f8dae0;
}

@media (max-width: 768px) {
  .bg-coracao {
    height: 100%;
  }
  .bg-tools {
    height: 100%;
  }
}
